* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-image: url(./img/Game_Background_189.png);
	background-size: cover;
}

input {
	border: none;
	background-color: #ffefec;
	padding: 5px 15px;
	margin: 5px;
	text-align: center;
}

button {
	width: 200px;
	border: none;
	padding: 5px 15px;
	margin: 5px;
	background-color: #fddad1;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #8c6a6a;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffcdc0;
	min-width: 300px;
	padding: 10px 20px;
	border: 5px solid #8c6a6a;
}

#square {
	width: 50px;
	height: 50px;
	position: absolute;
	cursor: pointer;
	/* border: 3px solid #8c6a6a;
	box-shadow: 3px 3px 5px #888888; */
}

#timer {
	font-size: 24px;
	margin-bottom: 10px;
}

#result {
	font-size: 20px;
	margin-top: 20px;
}

//* Add styles for the instructions container and button */
#instructions-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffcdc0;
	margin-bottom: 20px;
	padding: 10px 20px;
	border: 5px solid #8c6a6a;
}

#show-instructions-button {
	margin-top: 10px;
	background-color: #fddad1;
	font-size: 16px;
	cursor: pointer;
}

#show-instructions-button:hover {
	background-color: #8c6a6a;
	color: white;
}
